<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>FunfitZumbaWebApplication</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BatchServlet</display-name>
    <servlet-name>BatchServlet</servlet-name>
    <servlet-class>com.funfit.controller.BatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchServlet</servlet-name>
    <url-pattern>/BatchServlet</url-pattern>
    <url-pattern>/Batch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParticipantServlet</display-name>
    <servlet-name>ParticipantServlet</servlet-name>
    <servlet-class>com.funfit.controller.ParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipantServlet</servlet-name>
    <url-pattern>/ParticipantServlet</url-pattern>
    <url-pattern>/Participant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBatchServlet</display-name>
    <servlet-name>AddBatchServlet</servlet-name>
    <servlet-class>com.funfit.controller.AddBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBatchServlet</servlet-name>
    <url-pattern>/AddBatchServlet</url-pattern>
    <url-pattern>/AddBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddParticipantServlet</display-name>
    <servlet-name>AddParticipantServlet</servlet-name>
    <servlet-class>com.funfit.controller.AddParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddParticipantServlet</servlet-name>
    <url-pattern>/AddParticipantServlet</url-pattern>
    <url-pattern>/AddParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBatchServlet</display-name>
    <servlet-name>UpdateBatchServlet</servlet-name>
    <servlet-class>com.funfit.controller.UpdateBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBatchServlet</servlet-name>
    <url-pattern>/UpdateBatchServlet</url-pattern>
    <url-pattern>/UpdateBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateParticipantServlet</display-name>
    <servlet-name>UpdateParticipantServlet</servlet-name>
    <servlet-class>com.funfit.controller.UpdateParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateParticipantServlet</servlet-name>
    <url-pattern>/UpdateParticipantServlet</url-pattern>
    <url-pattern>/UpdateParticipant</url-pattern>
  </servlet-mapping>
</web-app>