<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>FunfitZumbaWebApplication</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.html</welcome-file>
    <welcome-file>AddBatch.html</welcome-file>
    <welcome-file>AddParticipant.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddBatchController</display-name>
    <servlet-name>AddBatchController</servlet-name>
    <servlet-class>com.funfit.controller.BatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBatchController</servlet-name>
    <url-pattern>/AddBatchController</url-pattern>
    <url-pattern>/addBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddParticipantController</display-name>
    <servlet-name>AddParticipantController</servlet-name>
    <servlet-class>com.funfit.controller.ParticipantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddParticipantController</servlet-name>
    <url-pattern>/AddParticipantController</url-pattern>
    <url-pattern>/addParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteParticipantController</display-name>
    <servlet-name>DeleteParticipantController</servlet-name>
    <servlet-class>com.funfit.controller.DeleteParticipantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteParticipantController</servlet-name>
    <url-pattern>/DeleteParticipantController</url-pattern>
    <url-pattern>/DeleteParticipant</url-pattern>
  </servlet-mapping>
</web-app>