<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>FunfitZumbaWebApplication</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddParticipant</display-name>
    <servlet-name>AddParticipant</servlet-name>
    <servlet-class>com.funfit.controller.AddParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddParticipant</servlet-name>
    <url-pattern>/AddParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBatch</display-name>
    <servlet-name>AddBatch</servlet-name>
    <servlet-class>com.funfit.controller.AddBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBatch</servlet-name>
    <url-pattern>/AddBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBatch</display-name>
    <servlet-name>DeleteBatch</servlet-name>
    <servlet-class>com.funfit.controller.DeleteBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBatch</servlet-name>
    <url-pattern>/DeleteBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteParticipant</display-name>
    <servlet-name>DeleteParticipant</servlet-name>
    <servlet-class>com.funfit.controller.DeleteParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteParticipant</servlet-name>
    <url-pattern>/DeleteParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBatch</display-name>
    <servlet-name>UpdateBatch</servlet-name>
    <servlet-class>com.funfit.controller.UpdateBatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBatch</servlet-name>
    <url-pattern>/UpdateBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateParticipant</display-name>
    <servlet-name>UpdateParticipant</servlet-name>
    <servlet-class>com.funfit.controller.UpdateParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateParticipant</servlet-name>
    <url-pattern>/UpdateParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchController</display-name>
    <servlet-name>BatchController</servlet-name>
    <servlet-class>com.funfit.controller.BatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchController</servlet-name>
    <url-pattern>/BatchController</url-pattern>
    <url-pattern>/AddBatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParticipantController</display-name>
    <servlet-name>ParticipantController</servlet-name>
    <servlet-class>com.funfit.controller.ParticipantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipantController</servlet-name>
    <url-pattern>/ParticipantController</url-pattern>
    <url-pattern>/AddParticipant</url-pattern>
  </servlet-mapping>
</web-app>